BOT_TOKEN=
ADMIN_ID=
ADMIN_IDS=
WEBAPP_URL=https://galeria-verifiedmodels.pages.dev
CANAL_FREE_URL=
FIREBASE_PROJECT_ID=galeria-verifiedmodels
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
PORT=10000
